* {
    box-sizing: border-box;
}
body {
    height: 100vh;

    display: grid;
    grid-template-columns: 0.3fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header header'
                         'nav main'
                         'nav main'
}

header {
    grid-area: header;
    font-size: 2rem;
    padding: 1rem;
    background-color: #333;
    color: #eee;
}

nav {
    grid-area: nav;
    padding: 2rem;
    background-color: #ddd;
}

.options {
    margin-bottom: 2rem;;
}

li {
    cursor: pointer;
    padding-left: 0.5rem;
}

h1, li {
    margin-bottom: 1rem;
}

h1 {
    font-weight: bold;
}

.projects h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.projects button {
    border-radius: 5px;
}

main {
    grid-area: main;
}

.content {
    text-align: center;
    width: 50%;
    margin: 1rem auto;
}

.taskContainer {
    display: flex;
    margin-bottom: 1rem;
}

.taskContainer div {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}


